$white-primary: #FFFFFF;

$black-primary: #202025;
$black-secondary: #010101;

$gray-primary: #77797B;
$gray-secondary: #555555;
$gray-bg: #F1F4F4;
$gray-line: #DCDCDC;
$gray-tab: #EBEBEB;

$gray-space: #303031; 

$light-blue: #D0F4EA;
$light-green: #18E21C;
$light-primary: #2E8907;
$red-primary: #E14D4D;
$yellow-primary: #E4D018;
$blue-primary: #82C9F8;
$blue-secondary: #30A5F3;

$green-secondary: #BAEDBD;
$red-secondary: #FB9F9F;
$purple-secondary: #C6C7F8;
$yellow-secondary: #F3E884;