.icon-grid {
    background-image: url("~@/assets/img/grid_view.svg");
}
.icon-graph {
    background-image: url("~@/assets/img/bid_landscape.svg");
}
.icon-settings {
    background-image: url("~@/assets/img/settings.svg");
}
.icon-clipboard {
    background-image: url("~@/assets/img/assignment_add.svg");
}
.icon-assignment {
    background-image: url("~@/assets/img/assignment.svg");
}
.icon-exit {
    background-image: url("~@/assets/img/move_item.svg");
}
.icon-arrow-left {
    background-image: url("~@/assets/img/arrow_left.svg");
}
.icon-double-arrow-left {
    background-image: url("~@/assets/img/double_arrow_left.svg");
}
.icon-bell {
    background-image: url("~@/assets/img/bell.svg");
}
.edit-data {
    background-image: url("~@/assets/img/stylus.svg");
}
.add-on {
    background-image: url("~@/assets/img/add_on.svg");
}
.add-off {
    background-image: url("~@/assets/img/add_off.svg");
}
.add-black {
    background-image: url("~@/assets/img/add_black.svg");
}
.add-plus {
    background-image: url("~@/assets/img/add_plus.svg");
}
.add-minus {
    background-image: url("~@/assets/img/add_minus.svg");
}
.icon-remove {
    background-image: url("~@/assets/img/remove.svg");
}
.icon-close {
    background-image: url("~@/assets/img/close.svg");
}
.check-on {
    background-image: url("~@/assets/img/check_on.svg");
}
.check-single {
    background-image: url("~@/assets/img/check_single.svg");
}
.icon-search {
    background-image: url("~@/assets/img/search.svg");
}
.icon-drag {
    background-image: url("~@/assets/img/drag.svg");
}
.icon-options {
    background-image: url("~@/assets/img/options.svg");
}
.icon-attention {
    background-image: url("~@/assets/img/attention.svg");
}
.icon-trash {
    background-image: url("~@/assets/img/trash.svg");
}
.icon-pot {
    background-image: url("~@/assets/img/pot.svg");
}
.icon-clock {
    background-image: url("~@/assets/img/clock.svg");
}
.icon-account {
    background-image: url("~@/assets/img/account.svg");
}
.icon-summarize {
    background-image: url("~@/assets/img/summarize.svg");
}
.icon-alert {
    background-image: url("~@/assets/img/alert.svg");
}
.icon-performance {
    background-image: url("~@/assets/img/performance.svg");
}
.icon-insights {
    background-image: url("~@/assets/img/insights.svg");
}
.icon-monitor {
    background-image: url("~@/assets/img/monitor.svg");
}
.icon-var-up {
    background-image: url("~@/assets/img/var-up.svg");
}
.icon-var-down {
    background-image: url("~@/assets/img/var-down.svg");
}
.icon-next {
    background-image: url("~@/assets/img/next.svg");
}
.icon-back {
    background-image: url("~@/assets/img/back.svg");
}
.icon-sale {
    background-image: url("~@/assets/img/sale.svg");
}
.icon-help {
    background-image: url("~@/assets/img/help.svg");
}
.icon-request {
    background-image: url("~@/assets/img/request.svg");
}
.icon-ticket {
    background-image: url("~@/assets/img/ticket.svg");
}
.icon-target {
    background-image: url("~@/assets/img/ads_click.svg");
}
.icon-customer {
    background-image: url("~@/assets/img/customer.svg");
}
.icon-customers {
    background-image: url("~@/assets/img/customers.svg");
}
.icon-star {
    background-image: url("~@/assets/img/star.svg");
}
.icon-payment {
    background-image: url("~@/assets/img/payment.svg");
}
.icon-contact {
    background-image: url("~@/assets/img/contact.svg");
}
.icon-config {
    background-image: url("~@/assets/img/config.svg");
}
.icon-calendar {
    background-image: url("~@/assets/img/calendar.svg");
}
.icon-info {
    background-image: url("~@/assets/img/info.svg");
}
.remove-off {
    background-image: url("~@/assets/img/remove_off.svg");
}
.icon-promotion {
    background-image: url("~@/assets/img/promotion.svg");
}
.icon-efficiency {
    background-image: url("~@/assets/img/efficiency.svg");
}
.icon-support {
    background-image: url("~@/assets/img/support.svg");
}
.icon-slider {
    background-image: url("~@/assets/img/slider.svg");
}
.icon-helper {
    background-image: url("~@/assets/img/helper.svg");
}
.icon-power {
    background-image: url("~@/assets/img/power.svg");
}
.icon-paused {
    background-image: url("~@/assets/img/pause.svg");
}
.icon-adjusted {
    background-image: url("~@/assets/img/clock_on.svg");
}
.icon-default {
    background-image: url("~@/assets/img/time_on.svg");
}
.icon-padlock {
    background-image: url("~@/assets/img/padlock.svg");
}
.icon-image {
    background-image: url("~@/assets/img/image.png");
}
.icon-exclamation {
    background-image: url("~@/assets/img/exclamation.svg");
}